*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}
a{
    text-decoration: none;
}

/* Navigation Bar */
nav{
    background-color: #000000;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-cont img{
    height: 80px;
}
.search-bar-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.nav-home-cont{
    background-color: #2a2a2a;
    padding: 14px;
    border-radius: 50%;
}
.search-bar{
    background-color: #2a2a2a;
    border-radius: 25px;
    padding: 14px;
    width: 28vw;
}
.search-bar input{
    width: 90%;
    background-color: #2a2a2a;
    color: #cbcbcb;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 14px;
}
.right-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.nav-link-cont{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-right: 20px;
    border-right: 1px solid #cbcbcb;
}
.nav-link-cont a{
    color: #cbcbcb;
    font-size: 14px;
}
.nav-btb-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-btn-cont a{
    color: #cbcbcb;
    font-size: 14px;
}
#login-btn{
    height: 50px;
    padding: 16px 32px;
    margin-left: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
/* Sidebar */
.sidebar-cont{
    background-color:#111111;
    width: 32vw;
    height: 80vh;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
    margin: 6px 0px 6px 6px;
}
.sidebar-top-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sidebar-top-cont p{
    color: #cbcbcb;
    font-size: 24px;
}
.sidebar-inside-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
}
.sidebar-inside-cont p{
    color: #cbcbcb;
    font-size: 12px;
}
.cont{
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 16px;
    padding: 14px;
    border-radius: 16px;
}
.cont button{
    width: fit-content;
    padding: 8px 12px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.sidebar-links-cont{
    display: flex;
    flex-direction: column;
    align-content: start;
    margin-top: 40px;
    gap: 20px;
}
.sidebar-links-cont div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sidebar-links-cont div p{
    color: #cbcbcb;
    font-size: 12px;
}
.sidebar-lang-cont{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #cbcbcb;
    border-radius: 25px;
    width: fit-content;
    padding: 8px 12px;
}

/* Main content */
.main-content{
    height: 80vh;
    width: 100%;
    background-color: #111111;
    color: #ffffff;
    border-radius: 10px;
    margin: 6px 6px 6px 0px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 24px 0px 0px 24px;
}
.section-header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    margin-bottom: 24px;
}
.section-item-cont{
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}
.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.25s ease;
}
.img-cont {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.play-btn-cont{
    background-color: green;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.card p{
    color: #cbcbcb;
    font-size: 12px;
}
.card:hover{
    background-color: #2a2a2a;
}
.circular-card .img-cont{
    border-radius: 50%;
}

/* Footer */
footer{
    margin: 60px 24px 40px 0;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-cont p{
    color: #cbcbcb;
    font-size: 12px;
    transition: text-decoration 0.25s ease;
}
.footer-cont p:hover{
    text-decoration: underline;
}
.footer-social-media-cont{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.copyright-cont{
    color: #cbcbcb;
    font-size: 12px;
    padding-bottom: 40px;
}

/* Bottom free sign up section */
.free-signup-cont{
    margin: 0 6px 6px 6px;
    padding: 10px;
    height: fit-content;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.free-signup-cont p{
    color: #cbcbcb;
    font-size: 12px;
    padding: 4px 0px;
}
#signup-free-btn{
    padding: 16px 32px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}